In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Auto.csv")
dataset.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.515869,5.458438,193.532746,2970.261965,15.555668,75.994962,1.574307
std,7.825804,1.701577,104.379583,847.904119,2.749995,3.690005,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
dataset.head()
dataset.dir()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [8]:
dataset.drop(dataset.index[[10, 85]]).describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,23.564051,5.445570,192.656962,2965.901266,15.576203,76.017722,1.577215
std,7.815819,1.696203,103.905655,847.608812,2.739621,3.683850,0.803537
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,102.500000,2221.500000,13.900000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2795.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,261.000000,3607.000000,17.150000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000